<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>surv.ejs</title>
        <link rel="icon" type="image/ico" href="img/favicon.ico">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../public/css/bootstrap.min.css">
        <link
            href="https://fonts.googleapis.com/css?family=Prompt:200,300,400,500"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous">

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="crossorigin="anonymous"></script>
        <script src="../public/js/jquery-3.5.1.min.js"></script>
        <script src="../public/css/bootstrap.min.css"></script>
    </head>
    <body>
        <div class="container p-5">
            <div class="row mt-5">
                <div class="col-1"></div>
                <div class="col-9">
            <section class="form-container border border-secondary">
                <div class="container-sm p-5">
                    <form class="form-signup" action="/test" method="POST" novalidate>
                        <div class="container d-inline-block">
                            <div class="row"> <!-- quien emite-->
                                <div class="col-4 text-right">
                                    <h4>Nombre :</h4>
                                </div>
                                <div class="col-6">
                                    <div class="name-container input-box">
                                        <input type="text" id="name" name="name"
                                            class="form-control"
                                            placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container d-inline-block">
                            <div class="row"> <!-- opcion region-->
                                <div class="col-4 text-right mt-3">
                                    <h4>Procedencia :</h4>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="form-group input-box">
                                        <select class="form-control" name="region">
                                            <option value=""> --- </option>
                                            <option value="1ra Region de Tarapaca">1ra Region de Tarapaca</option>
                                            <option value="2da Region de Antofagasta">2da Region de Antofagasta</option>
                                            <option value="3ra Region de Atacama">3ra Region de Atacama</option>
                                            <option value="4ta Region de Coquimbo">4ta Region de Coquimbo</option>
                                            <option value="5ta Region de Valparaiso">5ta Region de Valparaiso</option>
                                            <option value="6ta Region de O'Higgins">6ta Region de O'Higgins</option>
                                            <option value="7ma Region del Maule">7ma Region del Maule</option>
                                            <option value="8va Region del Bio-Bio">8va Region del Bio-Bio</option>
                                            <option value="9na Region de la Araucania">9na Region de la Araucania </option>
                                            <option value="10ma Region de los Lagos">10ma Region de los Lagos</option>
                                            <option value="11ra Region de Aysen">11ra Region de Aysen</option>
                                            <option value="12da Region de Magallanes">12da Region de Magallanes</option>
                                            <option value="14ra Region de los Rios">14ra Region de los Rios</option>
                                            <option value="15ta Region de Arica y Parinacota">15ta Region de Arica y Parinacota</option>
                                            <option value="16ta Region de Ñuble">16ta Region de Ñuble</option>
                                            <option value="Region Metropolitana">Region Metropolitana</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container d-inline-block">
                            <div class="row"> <!-- opcion lenguaje -->
                                <div class="col-4 text-right mt-1">
                                    <h4>Lenguaje :</h4>
                                </div>
                                <div class="col-6 mt-1">
                                <div class="form-group input-box">
                                <select class="form-control" name="lenguaje">
                                    <option value=""> --- </option>
                                    <option value="HTML"> HTML</option>
                                    <option value="CSS"> CSS</option>
                                    <option value="LESS"> LESS</option>
                                    <option value="JQUERY"> JQUERY</option>
                                    <option value="AJAX"> AJAX</option>
                                    <option value="MYSQL"> MYSQL</option>
                                    <option value="EXPRESS"> EXPRESS</option>
                                    <option value="SEQUELIZE"> SEQUELIZE</option>
                                    <option value="SOCKET"> SOCKET</option>
                                    <option value="GIT"> GIT</option>
                                    <option value="No esta en el listado"> No esta en el listado</option>
                                </select>
                                </div>
                                </div>
                                </div>
                        </div>
                        <div class="container">
                            <div class="col-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Comentario : (Opcional)</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
                            </div>
                        </div>
                        </div>
                        <div class="container d-inline-block">
                            <div class="row">
                            <div class="col-8"></div>
                            <div class="col-3 mt-3 ml-5">
                                <button class="btn btn-primary btn-block submit-btn" type="submit">Registrar</button>
                            </div>
                        </div>
                        </div>                       
                    </form>
                </div>
            </section>
        </div>
        </div>
        </div>
        <!-- /container -->
    </body>
</html>